<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}">
<link rel="stylesheet" href="../static/css/material.min.css" th:href="@{/css/material.min.css}">
<link rel="stylesheet" href="../static/css/material-icons.css" th:href="@{/css/material-icons.css}">
<link rel="stylesheet" th:href="@{css/style.css}">
</head>
<div><a href="/index">返回主页</a></div>
<body>
	<table>
		<tr>
			<td><h5>申请材料名称</h5></td>
			<td><h5>申请材料数量</h5></td>
			<td><h5>申请材料理由</h5></td>
			<td><h5>申请材料时间</h5></td>
			<td><h5>申请类型</h5></td>
			<td><h5>申请材料状态</h5></td>
		</tr>
		<tr th:each="apply,row:${ps?.items}">
			<td><h5 th:text="${apply?.material?.name}"></h5></td>
			<td><h5 th:text="${apply?.aquantity}"></h5></td>
			<td><h5 th:text="${apply?.reason}"></h5></td>
			<td><h5 th:text="${#dates.format(apply?.ctime, 'yyyy-MM-dd HH:mm')}"></h5></td>
			<td>
			<h5 th:if="${apply?.type == 'out'}">申请领取</h5>
			<h5 th:if="${apply?.type == 'in'}">申请归还</h5>
			</td>
			<td>
			<h5 th:if="${apply?.status == 'Approval'}">申请中</h5>
			<h5 th:if="${apply?.status == 'adopt'}" style="color: #00FF00">成功。
			操作地点：<i th:text="${apply?.applicationcode?.place}"></i>
			申请编号：<i th:text="${apply?.applicationcode?.code}"></i>
			要求归还时间：<i th:text="${apply?.applicationcode?.rrtime}"></i></h5>
			<h5 th:if="${apply?.status == 'failure'}" style="color: #FF0000">失败。
			拒绝理由：<i th:text="${apply?.access?.rreason}"></i>
			</h5>
			</td>
			<td>
			</td>
		</tr>
	</table>
	<div th:replace="base :: pagination"></div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery.form.js}"></script>
</html>