<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="../static/css/base.css" th:href="@{/css/base.css}">
<link rel="stylesheet" href="../static/css/material.min.css" th:href="@{/css/material.min.css}">
<link rel="stylesheet" href="../static/css/material-icons.css" th:href="@{/css/material-icons.css}">
<link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<div><a th:href="|/user/${session?.seuser?.id}/userinfo|">个人中心</a>&nbsp;&nbsp;&nbsp;<a href="/bookindex">书本查询</a>&nbsp;&nbsp;&nbsp;<a href="/materialindex" th:if="${session?.seuser?.authority == 1}">管理</a>&nbsp;&nbsp;&nbsp;<a href="/list">材料清单</a>&nbsp;&nbsp;&nbsp;<a href="/logout">注销</a>
<a href="/applyadmin" th:if="${session?.seuser?.authority == 1}">管理用户申请</a></div>

<form name="form" method="get" th:action="index">
	<input type="text" id="materialfind" name="keyword" autofocus>
	<input type="submit" value="搜索">
</form>

<form name="borrow" th:action="@{/index}" method="post">
	<div class="row" th:each="product,status:${ps?.items}">
		<div class="col-md-12"><h5 class="col-md-1" th:text="${product?.name}"></h5><button type="button" class="col-md-1 material-icons btn-csy" data-num="0" th:data-pmaterialload="${product?.id}">keyboard_arrow_down</button></div>
		<div class="col-md-12"><div th:id="${product?.id}"></div></div>
	</div>
	
	    <input type="hidden" name="status" value="Approval">
	    <input type="hidden" name="type" value="out">
	    <h5>填写申请理由:<input type="text" name="reason"/><div data-error="reason" style="color:#FF0000"></div></h5>
	    <h5>计划归还时间:<input type="text" name="srtime"/><div data-error="srtime" style="color:#FF0000"></div></h5>
	    <input type="submit" name="submit" value="直接申请借用">
</form>
<div th:replace="base :: pagination"></div>
</body>
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>
<script src="../static/js/jquery.form.js" th:src="@{/js/jquery.form.js}"></script>
</html>